/*Variables*/
$color-principal: #092e4b;
$color-secundario: white;

/*Listas*/
$font-size:
20px,/**/
40px,/*Tamaño utilizado en titulo*/
30px; /*Tamaño Utilizado en los Parrafos*/

/*Extend*/
%horizontalFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

%verticalFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Mixins*/
@mixin flex ($flex, $justify, $align, $direction){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: wrap;
}