@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Variables*/
/*Listas*/
/*Tamaño utilizado en el menu*/
/*Extend*/
.full-page nav .nav1 div div, .full-page main .main-section .titulo, .full-page main .main-section .desarrollo, .full-page main .main-section .desarrollo .imagenes-vertical, .full-page main .main-section .desarrollo .imagenes-horizontal .himagen1, .full-page main .main-section .desarrollo .imagenes-horizontal .himagen2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/*Mixins*/
/*--------------------MAIN----------------------*/
.full-page {
  display: flex; }
  .full-page nav .nav1 {
    width: 15%;
    background-color: #092e4b;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .full-page nav .nav1 div a {
      width: 95%;
      margin: 3px;
      padding: 0px;
      font-size: 15px; }
      .full-page nav .nav1 div a img {
        width: 50px;
        height: 50px;
        margin: 10px; }
    .full-page nav .nav1 div div {
      margin-top: 50px;
      color: white; }
      .full-page nav .nav1 div div img {
        width: 100%;
        clip-path: circle(); }
  .full-page nav .nav2 {
    display: none;
    height: 100%;
    background-color: #092e4b; }
    .full-page nav .nav2 .container-fluid {
      background-color: #092e4b;
      justify-content: space-between; }
      .full-page nav .nav2 .container-fluid img {
        width: 20%;
        clip-path: circle(); }
  .full-page main .main-section {
    margin-left: 15%; }
    .full-page main .main-section .titulo {
      background-color: #092e4b;
      height: 10vh;
      margin: 10px;
      border-radius: 10px;
      text-align: center; }
      .full-page main .main-section .titulo h1 {
        color: white; }
    .full-page main .main-section .desarrollo {
      padding: 50px; }
      .full-page main .main-section .desarrollo p {
        font-size: 30px; }
      .full-page main .main-section .desarrollo .imagenes-vertical {
        margin: 10px;
        height: auto;
        text-align: center;
        margin: 50px 0 50px 0; }
        .full-page main .main-section .desarrollo .imagenes-vertical .vimagen1 {
          width: auto;
          height: 100%;
          margin-bottom: 30px; }
          .full-page main .main-section .desarrollo .imagenes-vertical .vimagen1 img {
            width: 100%; }
        .full-page main .main-section .desarrollo .imagenes-vertical .vimagen2 {
          width: auto;
          height: 100%; }
          .full-page main .main-section .desarrollo .imagenes-vertical .vimagen2 img {
            width: 100%; }
      .full-page main .main-section .desarrollo .imagenes-horizontal {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        margin: 100px  0 100px 0;
        flex-wrap: wrap; }
        .full-page main .main-section .desarrollo .imagenes-horizontal .himagen1 {
          width: 40%; }
          .full-page main .main-section .desarrollo .imagenes-horizontal .himagen1 ul {
            font-size: 30px;
            border: solid 1px;
            list-style: none;
            height: 100%; }
            .full-page main .main-section .desarrollo .imagenes-horizontal .himagen1 ul li {
              margin: 10px; }
        .full-page main .main-section .desarrollo .imagenes-horizontal .himagen2 {
          width: 40%; }
          .full-page main .main-section .desarrollo .imagenes-horizontal .himagen2 ul {
            font-size: 30px;
            border: solid 1px;
            list-style: none;
            height: 100%; }
            .full-page main .main-section .desarrollo .imagenes-horizontal .himagen2 ul li {
              margin: 10px; }

/*----------Media Query----------*/
@media screen and (max-width: 1055px) {
  nav {
    font-size: 15px; } }

@media screen and (max-width: 925px) {
  nav {
    font-size: 10px; }
  .imagenes-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .imagenes-horizontal .himagen1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px  0px 50px 0px; }
      .imagenes-horizontal .himagen1 ul {
        width: 600px;
        font-size: 15px;
        border: solid 1px;
        list-style: none; }
        .imagenes-horizontal .himagen1 ul li {
          margin: 10px;
          font-size: 20px; }
    .imagenes-horizontal .himagen2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px  0px 50px 0px; }
      .imagenes-horizontal .himagen2 ul {
        width: 600px;
        font-size: 15px;
        border: solid 1px;
        list-style: none; }
        .imagenes-horizontal .himagen2 ul li {
          margin: 10px;
          font-size: 20px; } }

@media screen and (max-width: 830px) {
  .imagenes-horizontal .himagen1 ul {
    width: 500px; }
  .imagenes-horizontal .himagen2 ul {
    width: 500px; }
  .full-page {
    flex-direction: column; }
    .full-page nav .nav1 {
      display: none; }
    .full-page nav .nav2 {
      display: block; }
    .full-page main .main-section {
      margin-left: 0%; } }

@media screen and (max-width: 680px) {
  .imagenes-horizontal .himagen1 ul {
    width: 400px; }
  .imagenes-horizontal .himagen2 ul {
    width: 400px; } }
